html{
    background-color:rosybrown;
}
h1{
   font-family: 'Courier New', Courier, monospace;
}
#trio{
    background-color: beige;
    color: brown;
    font-size: x-large;
    font-weight: 500;
    font-style: italic;
}
#first{
    margin: 20px;
   border:5px solid white;
}
#duo{
    background-color: beige;
    color: brown;
    font-size: x-large;
    font-weight: 500;
    font-style: italic;
}
#second{
    margin: 20px;
    border:5px solid white;
}
